.cart-main-container {
  display: flex;
  flex-direction: column;
  background-color: #f9fbfe;
  margin: 50px;
  border: 1px solid rgba(163, 182, 212, 0.1);
  padding: 50px;
  padding-top: 0px;
}
@media screen and (max-width: 767px) {
  .cart-main-container {
    padding: 20px;
    margin: 20px;
    flex-grow: 1;
  }
}

.cart-container {
  list-style-type: none;
  padding-left: 0px;
}

.cart-summary-container {
  display: flex;
  flex-direction: column;
}

.order-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-total {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #3e4c59;
}
@media screen and (max-width: 767px) {
  .order-total {
    font-size: 16px;
  }
}

.total-price {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  text-align: right;
  color: #3e4c59;
}

@media screen and (min-width: 768px) {
  .total-price {
    font-size: 24px;
  }
}
.place-order-button-container {
  display: flex;
  justify-content: flex-end;
}

.place-order-button {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background: #f7931e;
  border-radius: 8px;
  color: #ffffff;
  width: 100px;
  height: 32px;
  border-width: 0px;
}
.line1 {
  border: 1px dashed #cbd2d9;
}
