.empty-cart-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.empty-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #1e293b;
}
@media screen and (max-width: 767px) {
  .empty-heading {
    font-size: 20px;
  }
}

.empty-para {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #64748b;
}
@media screen and (max-width: 767px) {
  .empty-para {
    font-size: 14px;
  }
}

.empty-image {
  width: 20%;
}
@media screen and (max-width: 767px) {
  .empty-image {
    width: 203px;
    height: 175px;
  }
}
