.restaurant-card-container {
  display: flex;
}

.name-cuisine-rating-container {
  margin-left: 12px;
  margin-top: 5px;
}
.restaurant-image {
  width: 160px;
  height: 100px;
  border-radius: 8px;
  margin-top: 5px;
}

.name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #334155;
  line-height: 24px;
}

@media screen and (max-width: 767px) {
  .name {
    font-size: 16px;
    margin: 0px;
  }
}
.cuisine {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #64748b;
  line-height: 0px;
}

@media screen and (max-width: 767px) {
  .cuisine {
    line-height: 24px;
    font-size: 12px;
    margin: 0px;
  }
}
.rating-container {
  display: flex;
  align-items: center;
}

.star-rating {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #1e293b;
  line-height: 0px;
  margin-right: 5px;
}
.total-review {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #64748b;
}

.link-item {
  text-decoration: none;
  margin-bottom: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 350px;
}

.star {
  color: yellow;
  margin-right: 5px;
}
