.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 50px;
}

.not-found-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: #1e293b;
}
@media screen and (max-width: 767px) {
  .not-found-heading {
    font-size: 20px;
  }
}

.not-found-para {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #475569;
}
@media screen and (max-width: 767px) {
  .not-found-para {
    font-size: 14px;
  }
}

.not-found-image {
  width: 20%;
}

@media screen and (max-width: 767px) {
  .not-found-image {
    width: 203px;
    height: 203px;
  }
}

.home-button {
  background-color: #f7931e;
  border-radius: 12px;
  border-width: 0px;
  color: white;
  width: 100px;
  height: 40px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
