.cart-items-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.food-cart-container {
  display: flex;
  flex-direction: column;
  margin-left: 010px;
}
@media screen and (min-width: 768px) {
  .food-cart-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.cart-item-image {
  width: 136px;
  height: 100px;
  border-radius: 8px;
  flex-shrink: 1;
}
.cart-item-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: #183b56;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .cart-item-heading {
    font-size: 20px;
    margin-left: 10px;
    width: 30%;
  }
}
.add-buttons-container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .cart-cost {
    justify-content: center;
    width: 30%;
  }
}

.cart-cost {
  display: flex;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #ffa412;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .cart-cost {
    width: 30%;
    font-size: 16px;
    justify-content: flex-end;
  }
}
