.order-placed-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.payment-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #1e293b;
}
@media screen and (max-width: 767px) {
  .payment-heading {
    font-size: 20px;
  }
}
.wishing-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #64748b;
}
@media screen and (max-width: 767px) {
  .wishing-text {
    font-size: 14px;
  }
}

.home-button3 {
  background: #f7931e;
  border-radius: 8px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  height: 32px;
  border-width: 0px;
}

.tick-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #22c55e;
  border-radius: 20px;
}
.tick {
  width: 30px;
  height: 30px;
  color: white;
}
